html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    background-color: rgb(19, 19, 19);
    text-align: center;
    font-family: sans-serif, Arial, helvetica;
    min-width: 80%;
    flex-wrap: wrap;
}


h2{
    font-size: 30px;
    margin-bottom: 0%;
}

a{   
    padding: 20px 15px;
    color:rgb(255, 255, 255);
    border: 3px solid rgb(43, 255, 0);
    display: block;
    font-family: Monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 350px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 3px;
    transition: 1s all ease;
    outline: none;
    text-decoration: none;
    top: -30%;
}

.btn1::before {
    background: rgb(0, 255, 21);
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1%;
    width: 100%;
    transform: all 0.6 ease;
    max-width: 350px;
    margin: top 10px;
    transition: 1s all ease;
    outline: none;
    text-decoration: none;
    left: 50%;
    color:black;
    height: 5px;
    
}

.btn1::before {
    width: 0;
    height: 10%;
    max-width: 350px;
    margin: top 10px;
    transition: 1s all ease;
    outline: none;
    text-decoration: none;
    left: 50%;
    color:black;
    height: 5px;
}

.btn1:hover::before {
    width: 100%;
    max-width: 350px;
    margin: top 10px;
    transition: 1s all ease;
    outline: none;
    text-decoration: none;
    left: 50%;
    color:black;
    height: 5px;
}

.create{ 
    font-size: 5px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

.footer{
    display: flexbox;
    color: #fff;
    margin-top: 100px;
    font-size: 10px;
} 


h1{
    padding-bottom: 80px;
    margin-bottom: 60px;
}
